<app-modal size="sm" #pauseModal>
  <div class="modal-body">
    <h3 class="modal-title">Pause</h3>
    <p class="m-0">Try getting back as fast as you could!</p>
  </div>

  <div class="modal-footer d-flex flex-nowrap">
    <button class="btn btn-outline-danger w-100" (click)="onExit()">
      Exit
    </button>

    <button class="btn btn-primary w-100" (click)="onResume()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M7 4v16l13 -8z" />
      </svg>
      Resume
    </button>
  </div>
</app-modal>
